.data-list {
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
  .data-list-item {
    flex: 1;
    height: 150px;
    border-radius: 10px;
    font-size: 28px;
    color: #fff;
    margin-right: 30px;
    box-sizing: border-box;
    padding: 30px 10px 0;
    &:nth-child(1) {
      background: #5996f8;
    }
    &:nth-child(2) {
      background: #7bd2ef;
    }
    &:nth-child(3) {
      background: #68dec9;
    }
  }
}
.echart-data {
  display: flex;
  margin-top: 110px;
  .data-item {
    flex: 1;
    height: 500px;
  }
}